.DS_Store
.project
.settings
dao/.classpath
dao/.settings
dao/target
examples/example1/.classpath
examples/example1/target/
examples/example2/.classpath
examples/example2/target/
examples/example3/target/
examples/example4/.classpath
examples/example4/target/
http/target/
http/.classpath
jcr2pojo/.classpath
jcr2pojo/target/
jcrcache/.classpath
jcrcache/target/
objectmanager-maven-plugin/.classpath
objectmanager-maven-plugin/target/
examples/example3/.classpath
/dao/derby.log
/dao/repository.xml
/dao/repository/
/jcr2pojo/derby.log
/jcr2pojo/repository.xml
/jcr2pojo/repository/
/examples/example1/repository.xml
/examples/example1/repository/
/examples/example2/repository.xml
/examples/example2/repository/
/examples/example3/repository.xml
/examples/example3/repository/
/examples/example1/derby.log
/examples/example2/derby.log
/examples/example3/derby.log